* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container-1 {
    background-color: #1F2937;
    padding: 16px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo,
.hero-main {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    gap: 100px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary,
.header-links,
.hero-img,
button {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
    margin-top: 16px;
}

.container-2 {
    padding-bottom: 100px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 40px;
}

.information-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-group {
    width: 150px;
    height: auto;
}

.box {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 16px;
}

.subtext {
    text-align: center;
    padding-top: 6px;
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.quote-box {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-source {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-background {
    background-color: #3882f6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 75px 200px;
    padding: 40px 100px;
    width: 900px;
    height: auto;
}

.action-background button {
    margin: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #f9faf8;
}

.action-header {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}