* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container-1 {
    background-color: #1F2937;
    padding: 16px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo,
.hero-main {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary,
.header-links,
.hero-img {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    background-color: grey;
}