* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container-1 {
    background-color: #1F2937;
    padding: 16px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo,
.hero-main {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    gap: 100px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary,
.header-links,
.hero-img,
button {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
    margin-top: 16px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information-boxes {
    display: flex;
}

.information-boxes div {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 16px;
}